streamlit>=1.24.0
pandas>=2.1.0
numpy>=1.26.0
geopandas>=0.13.2
osmnx>=1.3.0
folium>=0.14.0
streamlit-folium>=0.13.0
plotly>=5.15.0
scipy>=1.11.0
scikit-learn>=1.3.0
python-dotenv>=1.0.0
SALib
cenpy>=1.0.0
shapely>=2.0.0
